:root {
  /* PRIMARY */
  --primary__background--base: var(--gray-1000);
  --primary__background--hover: var(--gray-800);
  --primary__color: var(--gray-000);
  /* SECONDARY */
  --secondary__background--base: var(--gray-000);
  --secondary__background--hover: var(--gray-100);
  --secondary__color: var(--gray-1100)
}

/* TODO: */
.storybook-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 2em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  padding: 12px 20px;
}

.storybook-button--primary {
  color: var(--primary__color);
  background-color: var(--primary__background--base);
}

.storybook-button--primary:hover {
  background-color: var(--primary__background--hover);
}

.storybook-button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}