:root {
  --font__base: 'Roboto', 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font__weight: 500;
  --font__size: 16px;
  --line__height: 25px;
  /* PRIMARY */
  --primary__background--base: var(--gray-1000);
  --primary__background--hover: var(--gray-800);
  --primary__color: var(--gray-000);
  /* SECONDARY */
  --secondary__background--base: var(--gray-000);
  --secondary__background--hover: var(--gray-100);
  --secondary__color: var(--gray-1100)
}

.storybook-button {
  font-size: var(--font__size);
  cursor: pointer;
  display: inline-block;
  line-height: var(--line__height);
  padding: 12px 20px;
  border-radius: 8px;
  outline: none;
  border: none;
  box-shadow: none;
  font-family: var(--font__base);
  font-weight: var(--font__weight);
}

.storybook-button--primary {
  color: var(--primary__color);
  background-color: var(--primary__background--base);
}

.storybook-button--primary:hover {
  background-color: var(--primary__background--hover);
}

.storybook-button--secondary {
  color: var(--secondary__color);
  background-color: var(--secondary__background--base);
}

.storybook-button--secondary:hover {
  background-color: var(--secondary__background--hover);
}